.debit_card {
	/* width: 80%;
	height: 100%; */
	width: 350px;
	position: relative;
	background-color: #01d167;
	border-radius: 15px;
	max-height: 30vh;
	max-width: 100%;
	line-height: 35px;
	color: white;
	padding-top: 20px;
}

.show_card_number {
	margin-left: auto;
	display: flex;
	padding: 5px;
	background-color: white;
	border: 0px;
	color: #01d167;
	font-weight: bold;
	font-size: 70%;
	border-radius: 10px 10px 0 0;
	/* position: relative;
	top: -100%; */
	transform: translateY(-100%);
}

.freezed_card {
	opacity: 0.5;
	/* background-color: #e5e5e5 !important; */
}
